if SHIELD_NETRUNNER_LEFT

config ZMK_KEYBOARD_NAME
    default "netrunner"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_NETRUNNER_LEFT || SHIELD_NETRUNNER_RIGHT

config ZMK_SPLIT
    default y

endif
